		/*
		 *  name : 头尾部样式;
		 *	level : 局部;
		 *	dependent : 依赖于reset.css;
		 *	author : 胡天斐 日期2015/4/29 18:30;
		 *	last modify : 胡天斐 日期2015/5/9 12:00;
		 */
		 /*-----------------头部开始---------------*/
		 .header h1{
		 	display: none;
		 }
		 .header {
		 	width: 1200px;
		 	height: 71px;
		 	margin: 0 auto;
		 	margin-top: 35px;
		 	font: normal normal normal 13.3333330154419px/normal Arial;
		 }
		 .header .float {
			float: left;
			margin-top: 6px;
		 }
		 .header .show{
		 	display: block;
		 }
		 .logo {
			margin-right: 200px;
		 }
		 .logo img{
			width: 254px;
			height: 65px;
		 }
		 .header .search{
			border: 4px solid #2393d3;
		 }
		 .header .search input{
			height: 39px;
			height: 25px\9;
			width: 468px;
			padding-left: 14px;
			color: #9f9f9f;
			border: none;
			outline: none;
		 }
		 .header .search button{
		 	height: 40px;
		 	width: 86px;
		 	background-color: #2393d3;
		 	border: none;
		 	color: white;
		 	cursor: pointer;
		 	font-size: 18px;
		 }
		 .login{
		 	float: right;
		 }
		 .login a{
		 	text-decoration: none;
		 	color: #383838;
		 }
		 .login a:hover{
		 	color: red;
		 }
		 .unlogin{
		 	line-height: 40px;
		 	display: none;
		 }
		 /*登录*/
	 	.ready{
			display: none;
		}
		.l-r-l,.l-r-r{
			float: left;
			position: relative;
			left: 0;
			top: 0;
		}
		/*消息*/
		.l-r-l{
			width: 75px;
			height: 50px;
			background: url(../images/ico/email.png) no-repeat bottom;
		}
		.l-r-l a{
			display: block;
			height: 100%;
			background: url(../images/ico/circle.png) no-repeat right;
			color: white;
		}
		.l-r-l a:hover{
			color: white;
		}
		.l-r-l a span{
			display: block;
			height: 15px;
			width: 2em;
			position: relative;
			right: -44px;
			top: 16px;
			text-align: center;
		}
		/*头像*/
		.l-r-r{
			width: 80px;
			content: '&nbsp;';
		}
		.l-r-r dl{
			width: 80px;
			border: 1px solid white;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 4;
			background-color: white;
		}
		.l-r-r .dl-border{
			border: 1px solid #e1e1e1;
		}
		.l-r-r .dl-border dd{
			display: block;
		}
		.l-r-r dt{
			height: 63px;
			line-height: 63px;
			display: table-cell; 
			width: 80px;
			text-align: center;
			vertical-align: middle;
		}
		.l-r-r dt img{
			vertical-align: middle;
			border-radius: 50%;
		}
		.l-r-r dd{
			height: 26px;
			line-height: 26px;
			padding-left: 15px;
			border-top: 1px dashed #cacaca;
			display: none;
		}
		.l-r-r .exit{
			text-indent: 18px;
			line-height: 30px;
			background: url(../images/ico/power.png) no-repeat 14px;
		}
		.l-r-r .exit a{
			color: #ed6a00;
		}
		 /*-----------------头部结束---------------*/
		 /*-----------------导航开始---------------*/
		 .nav{
		 	margin-top: 40px;
		 	width: 100%;
		 	height: 50px;
		 	background-color: #1f90d2;
		 	font-size: 14px;
		 	font-weight: bold;
		 }
		 .n-m{
		 	width: 1200px;
		 	margin: 0 auto;
		 }
		 .nav .n-m .first{
		 	width: 173px;
		 	background-position: 37px center;
		 	color:white;
		 }
		 .nav .n-m .sub-first{
		 	color:white;
		 	width: 75px;
		 }
		 .n-m .last a{
		 	border: none;
		 }
		 .nav .on a{
		 	color: #fed116;
		 }
		 .nav .n-m .make{
		 	background: url(../images/ico/m-make.png) no-repeat 35px;
		 	background-color: #056095;
		 }
		 .nav .n-m .make a{
		 	border: none;
		 	color: white;
		 }
		 .nav .n-m .make a:hover{
		 	color: white;
		 }
		 .n-m a{
		 	text-decoration: none;
		 	color: white;
		 }
		 .n-l{
		 	float: left;
		 	width: 123px;
		 	height: 50px;
		 	text-align: center;	 	
		 	overflow: hidden;
		 	cursor: pointer;
		 }
		 .n-l a{
		 	margin: 17px 0;
		 	display: block;
		 	border-right: 1px solid #409fd5;
		 }
		 .n-l a:hover{
		 	color: #fed116;
		 }
		 .appdown{
		 	margin-top: 7px;
		 	margin-left: 20px;
		 	float: right;
		 	display: block;
		 	width: 135px;
		 	height: 36px;
		 }
		 /*-----------------导航结束---------------*/
		 /*-----------------尾部开始---------------*/
		 .footer{
		 	background-color: #454545;
		 }
		 .f-warp{
		 	width: 720px;
		 	height: 206px;
		 	margin: 0 auto;
		 	padding: 10px 0;
		 	color: #abaaaa;
		 }
		 .f-warp dl{
		 	float: left;
		 	padding-left: 40px;
		 	margin-right: 200px;
		 }
		 .f-warp dt{
		 	font-size: 14px;
			font-weight: bold;
			line-height: 36px;
		 }
		 .f-warp dd{
		 	font-weight: bold;
		 }
		 .f-warp dl a{
		 	text-decoration: none;
		 	font-size: 12px;
		 	color: #abaaaa;
		 	line-height: 30px;
		 }
		 .f-warp dl a:hover{
		 	color: #e77e03;
		 	text-decoration: underline;
		 }
		 .f-warp .f-d1{
			background: url(../images/ico/info-2.png) no-repeat left 5px;
		 }
		 .f-warp .f-d2{
			background: url(../images/ico/mac.png) no-repeat left 5px;
		 }
		 .f-warp .f-d3{
			background: url(../images/ico/link.png) no-repeat left 5px;
			margin: 0;
		 }
		 /*-----------------尾部结束---------------*/
		 /*-----------------版权开始---------------*/
		 .copr-warp{
		 	text-align: center;
		 	font-size: 12px;
		 	line-height: 25px;
		 	margin-top: 10px;
		 	margin-bottom: 37px;
		 }
		 .copr-warp .add{
		 	width: 610px;
		 	color: #454545;
		 	margin: 0 auto;
		 }
		 .copr-warp .copy{
		 	color: #999;
		 }
		 /*-----------------版权结束---------------*/
		 /*-----------------创新创业---------------*/
		 	.creative-main{
				width: 1200px;
				border: 1px solid #dfdcdc;
				margin:16px auto 28px;
				text-align: center;
				padding: 40px 0 54px;
			}
		 /*----------------创新结束----------------*/
		 /*----------------页码---------------------*/
		 .page{
		 	color: #666;
		 	float: right;
		 	padding-top: 30px;
		 }
		 .page .last{
		 	border-right:1px solid #e5e5e5;
		 }
		 .page-list{
		 	float: left;
		 	text-align: center;
		 	border: 1px solid #e5e5e5;
		 	border-right: none;
		 }
		 .page-list a{
		 	display: block;
		 	padding: 8px 15px;
		 	text-decoration: none;
		 	
		 }
		 .page-list a:link{color:#666;}
		 .page-list a:visited{color:#666;}
		 .page-list a:hover,.page .on a{
		 	background-color: red;
		 	color: white; 
		 }
		 .page form{
		 	float: left;
		 	line-height: 36px;
		 	padding-left: 10px;
		 }
		 .page form input{
		 	width: 30px;
		 	height: 25px;
		 	line-height: 25px;
		 	text-align: center;
		 	border: 1px solid #e5e5e5;
		 	background-color: white; 
		 	margin: 0 20px;
		 }
		 .page form button{
		 	border: 1px solid #e5e5e5;
		 	background-color: #f5f5f5;
		 	cursor: pointer;
		 	width: 50px;
		 	height: 23px;
		 	line-height: 23px;
		 }
		 /*----------------页码结束-------------------*/
		 /*-----------带边框的宽1198大盒子  开始------*/
		 .contain-b{
		 	border:1px solid #dfdcdc;
		 	width: 1198px;
		 	margin:20px auto 0;
		 	overflow: hidden;
		 }
		  /*-----------带边框的宽1200大盒子  结束------*/
		  /*----------不带边框的宽1200大盒子  开始------*/
		  .contain{
		 	width: 1200px;
		 	margin:20px auto 0;
		 	overflow: hidden;
		 }
		/*----------不带边框的宽1200大盒子  结束------*/
		/*----------不带边框两列布局(左大右小)  开始------*/
		.con-left-b{
			width: 920px;
			float:left;
			overflow: hidden;
		}
		.con-right-s{
			width: 270px;
			float:left;
			overflow: hidden;
			margin-left: 10px;
		}
		/*----------不带边框两列布局  结束------*/
		/*----------不带边框两列布局(左小右大)  开始------*/
		.con-left-s{
			width: 270px;
			float:left;
			overflow: hidden;
		}
		.con-right-b{
			width: 920px;
			float:left;
			overflow: hidden;
			margin-left: 10px;
		}
		/*----------不带边框两列布局  结束------*/
		/*----------head和content的盒子布局  开始------*/
		.head-con-box{
			border:1px solid #dfdcdc;
			overflow: hidden;
		}
		.head-box{
			height: 45px;
			line-height: 45px;
			background-color: #f0f0f0;
			border-bottom: 1px solid #dfdcdc;
			font-size: 14px;
			color: #1f1f1f;
			text-indent: 1em;
			font-weight: bold;
		}
		.hb-more{
			color: #767676;
			float: right;
			font-size: 12px;
			margin-right: 20px;
			font-weight: normal;
		}
		.hb-more:hover{
			text-decoration: underline;
		}
		/*----------head和content的盒子布局 结束------*/

		/*----------当前位置导航 开始------*/
		.w12-nav-pos{
			width: 1200px;
		 	margin:0px auto;
		 	overflow: hidden;
			height: 40px;
			line-height: 40px;

		}
		.w12-nav-pos i{
			display: inline-block;	
			background: url(../images/nav-pos-jiantou.png) no-repeat center;
		}
		.w12-nav-pos a,.w12-nav-pos b{
			color:#000;
			display: inline-block;
			margin: 0 5px;
		}
		/*----------当前位置导航 结束------*/
		/*----------左图片右文字布局 开始------*/


		/*----------左图片右文字布局 结束------*/
		