		/*
		 *  name : 头尾部样式;
		 *	level : 局部;
		 *	dependent : 依赖于reset.css;
		 *	author : 胡天斐 日期2015/4/29 18:30;
		 *	last modify : 胡天斐 日期2015/5/9 12:00;
		 */

		 /*-----------带边框的宽1198大盒子  开始------*/
		 .fl{
		 	float: left;
		 }
		 .fr{
		 	float: right;
		 }
		 .margin-t20{
		 	margin-top: 20px;
		 }
		 .contain-b{
		 	border:1px solid #dfdcdc;
		 	width: 1198px;
		 	margin:0 auto;
		 	overflow: hidden;
		 }
		  /*-----------带边框的宽1200大盒子  结束------*/
		  /*----------不带边框的宽1200大盒子  开始------*/
		  .contain{
		 	width: 1200px;
		 	margin:0 auto;
		 	overflow: hidden;
		 }
		/*----------不带边框的宽1200大盒子  结束------*/
		/*----------不带边框两列布局(左大右小)  开始------*/
		.con-left-b{
			width: 920px;
			float:left;
			overflow: hidden;
		}
		.con-right-s{
			width: 270px;
			float:left;
			overflow: hidden;
			margin-left: 10px;
		}
		/*----------不带边框两列布局  结束------*/
		/*----------不带边框两列布局(左小右大)  开始------*/
		.con-left-s{
			width: 270px;
			float:left;
			overflow: hidden;
		}
		.con-right-b{
			width: 920px;
			float:left;
			overflow: hidden;
			margin-left: 10px;
		}
		/*----------不带边框两列布局  结束------*/
		/*----------head和content的盒子布局  开始------*/
		.head-con-box{
			border:1px solid #dfdcdc;
			overflow: hidden;
		}
		.head-box{
			height: 45px;
			line-height: 45px;
			background-color: #f0f0f0;
			border-bottom: 1px solid #dfdcdc;
			font-size: 14px;
			color: #1f1f1f;
			text-indent: 1em;
			font-weight: bold;
		}
		.hb-more{
			color: #767676;
			float: right;
			font-size: 12px;
			margin-right: 20px;
			font-weight: normal;
		}
		.hb-more:hover{
			text-decoration: underline;
		}
		/*----------head和content的盒子布局 结束------*/
		/*----------左图片右文字布局 开始------*/
		.image-l-dt{
			float: left;
		}
		/*----------左图片右文字布局 结束------*/
		/*----------最大宽度 开始 无关联hmtl------*/
		.max-width{
			width: 100%;
		}
		/*----------最大宽度 结束------*/
		/*----------最大宽高 开始 无关联hmtl------*/
		.max-wh{
			width: 100%;
			height: 100%;
		}
		/*----------最大宽高 结束------*/
		/*-------水平dt-dd排列形式开始-------*/
		.list-level-item{
			height:45px;
			line-height: 45px;
			border-bottom: 1px dashed #cbc9c9;
		}
		.list-level-item>dt{
			float: left;
			color:#979393;
		}
		.list-level-item>dd{
			overflow: hidden;
		}
		.list-level-item dd a{
			display: inline-block;
			height: 20px;
			line-height: 20px;
			padding: 5px 10px;
		}
		.list-level-item .select{
			background-color: #eb9103;
			color: #fff;
		}
		.list-level-item dd a:hover{
			background: #eb9103;
			color: #fff;
		}
		/*-------水平dt-dd排列形式结束-------*/
		/*--------li新闻标题的形式 开始------*/
		.list-news-item{
			list-style: square inside;
			height: 37px;
			line-height: 37px;
			text-overflow: ellipsis;
			border-bottom: 1px dashed #cbc9c9;
		}
		.list-news-item span,.list-news-item i{
			display: inline-block;
		}
		.list-news-item span{
			float: right;
			color: #a4a1a1;
		}
		.list-news-item i{
			width: 15px;
			margin-left: 5px;
			background:url(../images/ico/tip.png) center no-repeat;
		}

		/*-------li新闻标题的形式 结束-------*/
		/*----------橙色按钮 开始------*/
		.button-cheng{
			display: block;
			height: 35px;
			width: 100px;
			line-height: 35px;
			text-align: center;
			background-color: #eb9103;
			font-size:14px;
			font-weight: bold;
			color: #fff;
		}
		.button-cheng:hover{
			background-color:#0f80d0;
		}
		/*----------橙色按钮 结束------*/
		